@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 50px;
  display: flex;
}
header h1 {
  padding: 30px;
  background-color: red;
}

.containerparametros {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#real {
  flex-basis: 2;
}
#imag {
  flex-basis: 1;
}

#canvasF {
  position: absolute;
  top: 0;
  z-index: -1;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
